.footer-nintendo-baner {
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
   grid-template-columns: auto repeat(4,1fr);
    
}

.footer-social-logos {
    display: grid;
    grid-template-columns:auto repeat(4,1fr);
    gap: 25px;
    
}
.footer-linkbar {
    grid-template-columns: repeat(4, 1fr);
}
.footer-about {
    border-left: 1px solid black;
    width: 200px;
    height: 200px;
    padding-left: 1.5rem;
}
h1 {
    color: rgb(68, 68, 68);
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: rgb(131, 28, 28);
    text-decoration: underline;
}
ul {
    padding: 0px;
    margin: 0px;
}
li {
    list-style: none;
}
.footer-shop {
    border-left: 1px solid black;
    
    padding-left: 1.5rem;
}