.footer-nintendo-baner {
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
   grid-template-columns: auto repeat(4,1fr);
    
}

.footer-social-logos {
    display: grid;
    grid-template-columns:auto repeat(4,1fr);
    gap: 25px;
    
}
.footer-linkbar {
    
}
.footer-links {
    border-left: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 20px;
}
a {
    color: red;
    text-decoration: none;
}